Repository Ari510/vvspy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zaanposni, @Monkmitrad, @ArPiiX

enabled arrival mode by default and added the corresponding keywords
  vvspy/trip.py
Owners: @zaanposni, @Monkmitrad

made arrival mode optional and added explanations
  vvspy/trip.py
Owners: @zaanposni, @Monkmitrad

removed typing from requirements.txt as it is already built into newer python versions
  requirements.txt
Owners: @zaanposni

removed typing from requirements.txt as it is already built into newer python versions
  requirements-dev.txt
  setup.py
Owners: @zaanposni, @Monkmitrad, @ArPiiX

added stations.py
  vvspy/stations.py
Owners: @zaanposni, @Monkmitrad

.github/CODEOWNERS:

* @zaanposni @Monkmitrad @ArPiiX

# PYTHON
*.py @zaanposni @Monkmitrad
/requirements.txt @zaanposni

# UNITTESTS
/tests/ @zaanposni
